.platcorp-modal {
    .modal-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20vw;
        margin-left: 30vw;
    }
    .modal-content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: 1px solid #e2e8f0;
        border-radius: 0.25rem;
        background: #fff;
        max-height: 80%;
        margin-top: 4rem;
    }
    .modal__content {
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .modal__close {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border: none;
        background: none;
    }

    &.data-model {
        .modal-container {
            margin-right: 8vw;
            margin-left: 22vw;
        }
    }
}
